*,
*:before,
*:after {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #222222;
  line-height: 160%;
}

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.layout > div {
  flex: 1;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Left side */
.layout__left {
  background-color: #ffffff;
}
.layout__left img {
  display: block;
  width: 80%;
  max-width: 450px;
}

/* Right side*/
.layout__right {
  background-color: #42a5ff;
  flex-direction: column;
}
.layout__right--copy {
  max-width: 500px;
}
.layout__right--socials {
  margin-top: 60px;
}
.layout__right--socials a {
  display: block;
}
.layout__right--socials a img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .layout {
    display: block;
  }
  .layout > div {
    width: 100%;
  }
  .layout__left img {
    width: 300px;
  }
  .layout__right--copy {
    height: 90vh;
  }
}
